# Pandas Problem Set

In [0]:
import pandas as pd
from google.colab import files
import numpy as np
import matplotlib.pyplot as plt

### Dataset for tutorial and problem set:

    Pima Indian Heritage Diabetes

    Each person in the dataset is a female who is at least 21 years
    
  #### Below are the variables for each person in the dataset
      'preg': number of pregnancies  
      'plas': plasma glucose concentration 
      'pres': blood pressure 
      'skin': skin thickness
      'test': Insluin
      'mass': BMI
      'pedi': diabetes pedigree function
      'age': age
      'class': '0' means does not have diabetes and '1' means has diabetes

In [0]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [38]:
data = pd.read_csv(url)
data.columns = names
data.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     1    85    66    29     0  26.6  0.351   31      0
1     8   183    64     0     0  23.3  0.672   32      1
2     1    89    66    23    94  28.1  0.167   21      0
3     0   137    40    35   168  43.1  2.288   33      1
4     5   116    74     0     0  25.6  0.201   30      0

Print out the age and class of the 100th patient

In [39]:
data.loc[99,["age", "class"]]

age      33.0
class     1.0
Name: 99, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 1

In [40]:
len(data[data["class"]==1])

267

Write code to figure out how many people are classified as having diabetes, class is 0

In [41]:
len(data[data["class"]==0])

500

What percent of people have diabetes in the study

In [42]:
print(len(data[data["class"]==1])/len(data)*100, "%")

34.8109517601043 %

Print out the pressure and class (no other columns) for the first 5 people

hint: this was not shown in our tutorial google how to select multiple columns with loc

Being able to effectively google is a very important coding tool

In [43]:
data.loc[[0,1,2,3,4], ["pres", "class"]]

   pres  class
0    66      0
1    64      1
2    66      0
3    40      1
4    74      0

Run the cell below, it will print out the correlation among the columns

In [44]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.128846,0.141197,-0.082495,-0.072999,0.017518,-0.033927,0.544018,0.221087
plas,0.128846,1.000000,0.152498,0.056381,0.332383,0.220955,0.136903,0.262408,0.465856
pres,0.141197,0.152498,1.000000,0.207308,0.089098,0.281777,0.041180,0.239571,0.064882
skin,-0.082495,0.056381,0.207308,1.000000,0.437974,0.392553,0.183498,-0.115873,0.073265
test,-0.072999,0.332383,0.089098,0.437974,1.000000,0.198111,0.185579,-0.040942,0.131984
mass,0.017518,0.220955,0.281777,0.392553,0.198111,1.000000,0.140546,0.035911,0.292695
pedi,-0.033927,0.136903,0.041180,0.183498,0.185579,0.140546,1.000000,0.032738,0.173245
age,0.544018,0.262408,0.239571,-0.115873,-0.040942,0.035911,0.032738,1.000000,0.236417
class,0.221087,0.465856,0.064882,0.073265,0.131984,0.292695,0.173245,0.236417,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [74]:
plas_mean = data["plas"].mean()
plas_mean

120.85919165580182

Create a new dataframe with only people that are above the mean found above

In [77]:
plas_above = data[data["plas"]>plas_mean]
plas_above.head()

    preg  plas  pres  skin  test  mass   pedi  age  class
1      8   183    64     0     0  23.3  0.672   32      1
3      0   137    40    35   168  43.1  2.288   33      1
7      2   197    70    45   543  30.5  0.158   53      1
8      8   125    96     0     0   0.0  0.232   54      1
10    10   168    74     0     0  38.0  0.537   34      1

What percent of the new dataframe have diabetes

In [80]:
print(len(plas_above[plas_above["class"]==0])/len(plas_above)*100, "%")

44.252873563218394 %

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [82]:
preg_val = data["preg"].mean()
plas_val = data["plas"].mean()
pres_val = data["pres"].mean()
skin_val = data["skin"].mean()
test_val = data["test"].mean()
mass_val = data["mass"].mean()
pedi_val = data["pedi"].mean()
age_val = data["age"].mean()

new_data = data.loc[(data["preg"]>preg_val) & (data["plas"]>plas_val) & (data["pres"]>pres_val) & (data["skin"]>skin_val) & (data["test"]>test_val) & (data["mass"]>mass_val) & (data["pedi"]>pedi_val) & (data["age"]>age_val), :]
new_data.head()

     preg  plas  pres  skin  test  mass   pedi  age  class
42      9   171   110    24   240  45.4  0.721   54      1
151     9   156    86    28   155  34.3  1.189   42      1
158    17   163    72    41   114  40.9  0.817   47      1
174     8   179    72    42   130  32.7  0.719   36      1
205     8   196    76    29   280  37.5  0.605   57      1

Using what you have learned (and google) explore the data. Discuss what you find with people around you or the instructors

In [0]:
# write code here